<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vogo.geographyintellect">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.vogo.geographyintellect.VogoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,LockedOrientationActivity">

        <activity android:name="com.vogo.geographyintellect.activities.splash.SplashView"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.vogo.geographyintellect.activities.login.LoginView"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>

        <activity android:name="com.vogo.geographyintellect.activities.main.MainView"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>

        <activity android:name="com.vogo.geographyintellect.activities.profile.ProfileView"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>

    </application>

</manifest>